<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>代办列表</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.prod.js"></script>
</head>
<body>
<div id="app">
    <input type="text" v-model="todoText">
    <input type="button" value="add" @click="addTodoList">
    <ol>
        <li v-for="(item,index) in todoList">
            {{item}}
            <button @click="removeTodoList(index)">remove</button>
        </li>
    </ol>
</div>
</body>
<script type="text/javascript">
    const {createApp, ref} = Vue

    const config = {
        setup() {
            const todoList = ref([])
            const todoText = ref("")

            function addTodoList() {
                console.log(todoText.value.length);
                if (todoText.value.length == 0) {
                    alert("请输入待办！");
                    return;
                }
                todoList.value.push(todoText.value);
                todoText.value = "";
            }

            function removeTodoList(index) {
                todoList.value.splice(index, 1);
            }

            return {todoText, todoList, addTodoList, removeTodoList}
        }
    }
    createApp(config).mount("#app");
</script>
</html>