<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <button v-on:click="createUser">Add</button>
    <button v-on:click="reverseUser">Reverse</button>
    <ul v-for="(user,index) in users">
        <li>用户:{{index + 1}}</li>
        <ul v-for="(value,key) in user">
            <li>{{key}}:{{value}}</li>
        </ul>
    </ul>
</div>
</body>
<script src="../js/vue.global.js"></script>
<script type="text/javascript">
    const app = {
        data() {
            return {
                users: []
            }
        },
        methods: {
            createUser() {
                let firstName = ['一', '二', '三', '四', '五', '六', '七', '八', '九', '十'];
                let lastName = ['张', '王', '李', '赵', '孙', '钱', '裴', '宋', '刘']

                let lastIndex = Math.floor(Math.random() * lastName.length);
                let firstIndex1 = Math.floor(Math.random() * firstName.length);
                let firstIndex2 = Math.floor(Math.random() * firstName.length);

                let username = lastName[lastIndex] + firstName[firstIndex1] + firstName[firstIndex2];
                console.log(username);

                let age = Math.floor(Math.random() * 100);

                let user = {
                    uname: username,
                    uage: age
                };

                this.users.push(user);
            },
            reverseUser() {
                this.users.reverse();
            }
        }
    }
    Vue.createApp(app).mount('#app');
</script>
</html>